.l_homeLayout{
  $wrap:&;
  display: grid;
  height: 100dvh;
  grid-template-columns: minmax(20em, 20vw) 1fr;
  grid-template-rows: minmax(8vh, auto) 1fr minmax(8vh, auto);
  &__header{
    min-height: 8vh;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  &__aside{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  &__main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  &__footer{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}